{% extends 'blog/base.html' %}
{% block title %}MINIBLOG|CONTACT{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-white">Contact Page</h3>
    </div>
</div>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex ipsum
     aspernatur fugiat vero id perspiciatis, asperiores totam distinctio explicabo eveniet sequi, modi reiciendis veritatis.</p>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex ipsum
     aspernatur fugiat vero id perspiciatis, asperiores totam Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ea in rerum, reprehenderit provident iste nostrum deserunt. Quam error dolorem libero itaque cupiditate animi 
     laboriosam, necessitatibus aut, quae ratione vel? Qui quibusdam repudiandae nisi.distinctio explicabo eveniet sequi, modi reiciendis veritatis.</p>
{% endblock content %}