{% extends 'blog/base.html' %}
{% block title %}MINIBLOG|DASHBOARD|UPDATEPOST{% endblock title %}
{% block content %}
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
        <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="alert text-warning">{{fm.errors|striptags}}</small>
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-success btn-sm" value="update">
    <a href="{% url 'dashboard' %}" class="btn btn-danger btn-sm">cancel</a>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    {% endif %}
</form>

{% endblock content %}